.header-img {
  width: 100%;
  height: calc(8vh + 8vw);
  object-fit: cover;
  object-position: center;
}

body {
  background: url('../img/background.png') no-repeat center center fixed;
  background-size: cover;
  background-color: #000000;
  color: #4caf50;
}

a, a:hover {
  color: #00FF00;
  text-decoration: none;
}
p, h5 {
  color: #d4fff9;
}

.btn {
  transition: transform 0.3s;
  z-index: 1;
}
.btn:hover {
  background-color: #00ff00;
  color: #121212;
  transform: scale(1.1);
  z-index: 2;
}

.team-profile {
  background-color: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
}
.team-profile img {
  width: 18vh;
  height: 18vh;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}

.social-icons {
  gap: 10vw;
  margin: 40px 0;
}
.social-icons img {
  width: 120px;
  height: 120px;
}

.reactive, .reactive-s {
  transition: transform 0.15s;
}
.reactive:hover {
  transform: scale(1.1);
}
.reactive-s:hover {
  transform: scale(1.02);
}

/* for logos (Im lazy so instead of fixing it it's now an ID and it has priority (: */
#miniLogo {
  width: 30px;
  height: 30px;
}